    body {
        margin: 0;
        text-align: center;
        background:linear-gradient(#1B244A, #075985) ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1, h3, p, input {
        text-shadow: 0 0 5px black;
    }

    h1.title {
        font-family: Tahoma, sans-serif;
        font-size: 64px;
        font-weight: 800;
        color: #9CA3AF;
        margin-top: 30px;
    }

    input[type="text"] {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #FFFFFF;
        background-color: transparent;
        border: none;
        text-align: center;
        width: 400px;
    }

    input[type="text"]::placeholder {
        color: #FFFFFF;
        opacity: 0.7;
    }

    @font-face {
        src: url('cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf');
        font-family: 'CursedTimer'; 
    }

    .container {
        display: flex;
        justify-content: center;
    }

    h3 {
        font-family: Verdana;
        font-size: 60px;
        font-weight: 800;
        margin: 20px 0 0 0;
    }

    .points-container {
        color: #EEEEEE;
        font-family: Verdana;
        font-size: 60px;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .points {
    height: 200px;
    width: 250px; 
    color: #F94F6D;
    font-size: 120px;
    font-family: 'CursedTimer';       
    background-color: #080001;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .point-buttons-container {
        display: flex;
        justify-content: space-evenly;
        color: #9AABD8;
    }

    .point-buttons {
        border: #9AABD8 3px solid;
        border-radius: 5px;
        padding: 15px;
        margin: 15px 10px;
        font-family: 'CursedTimer', sans-serif;
        font-size: 28px;
    }

    .add1:hover {
        background-color: #2E3A7B;
        cursor: pointer;
    }

    .add2:hover {
        background-color: #2E3A7B;
        cursor: pointer;
    }

    .add3:hover {
        background-color: #2E3A7B;
        cursor: pointer;
    }

    .reset-container {
        margin: 20px 0;
    }

    .reset-button {
        border: #F94F6D 3px solid;
        border-radius: 5px;
        padding: 15px 40px;
        font-family: 'CursedTimer', sans-serif;
        font-size: 28px;
        color: #F94F6D;
        background-color: transparent;
    }

    .reset-button:hover {
        background-color: #2E3A7B;
        cursor: pointer;
    }   
